.city-details {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.city {
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.city-title {
  margin-bottom: 30px;
}

.city-photos {
  width: 100%;
  margin-top: 20px;
}

.cities {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  width: 100%;
  height: auto;
}
.city-item:hover .city-photo {
  transform: scale(1.1);
}
.city-item {
  position: relative;
  width: 100%;
  height: 200px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.city-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  transition: transform 0.3s ease;
}

.city-name {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(33, 27, 23, 0.8);
  color: white;
  padding: 5px 0;
  font-size: small;
  margin: 0;
}
